@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F9FA;
  --foreground: #212529;
  --muted: #6C757D;
  --accent: #1F1F1F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.text-muted-foreground {
  color: var(--muted);
}

/* Ombre subtile pour les cartes */
.shadow-sm {
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

/* Garder la bottom bar comme elle est */

@font-face {
  font-family: Hafs;
  src: url('../components/quran/hafs/uthmanic_hafs_v20.ttf');
}
@font-face {
  font-family: Warsh;
  src: url('../components/quran/warsh/uthmanic_warsh_v21.ttf');
}
@font-face {
  font-family: Shubah;
  src: url('../components/quran/shubah/uthmanic_shuba_v20.ttf');
}
@font-face {
  font-family: Qaloun;
  src: url('../components/quran/qaloun/uthmanic_qaloun_v21.ttf');
}
@font-face {
  font-family: Duri;
  src: url('../components/quran/duri/uthmanic_douri_v20.ttf');
}
@font-face {
  font-family: Susi;
  src: url('../components/quran/susi/uthmanic_sousi_v20.ttf');
}